.destaques{
    display: grid;
    grid-template-columns: 25% 25% 24% 24%; /* Coluna */
    grid-template-rows: 33.33% 33.33% 33.33% 33.33%; /* linhas */
    grid-gap: 0.4rem;
    height: calc(100vh - 50px);

}
 /* dS Fortnite */

.destaques__principal{
    background: url(../img/fortnite.jpg) center / cover no-repeat;
    grid-column: 1 / 4; /* Colocar sempre um número a mais do espaco que você quer ocupar, exp: se vc quer até o 3 coloque 4 */
    grid-row: 1 / 3;
}

.caixa{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.destaques__titulo{
    background-color: rgba(0, 0, 0, .5);
    color: #fdfdfd;
    text-align: center;
    width: 100%;
    padding: 6.rem;
}

.destaques__secundario:nth-child(2){
    background: url(../img/pubg.jpg) center / cover no-repeat;
    background-image: url('../img/pubg.jpg');

}

.destaques__secundario:nth-child(3){
    background: url(../img/slack.png) center / cover no-repeat;

}

.destaques__secundario:nth-child(4){
    background: url(../img/whatsapp.png) center / cover no-repeat;

}

.destaques__secundario:nth-child(5){
    background: url(../img/cs-go.jpg) center / cover no-repeat;

}

/* Categorias */

.destaques__categorias{ /* div Father */

}

.destaques__categorias___lista{ /* UL */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fdfdfd;
    flex-wrap: wrap;
    height: 100%;

}

.destaques__categorias___item{  /* LI */
    display: flex;
    align-items: center;
    border-left: 5px solid transparent;
    width: 50%;
}

.destaques__categorias___item a{
    color: #333333;

}

